body,
header,
ul,
main,
footer {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #69696a;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.header {
  color: black;
}

header nav ul li {
  margin-top: 5px;
}

header nav ul li a {
  text-decoration: none;
  text-align: center;
}

li {
  list-style: none;
}

h2 {
  color: #000;
}

.accent {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px 0;
  padding: 2px;
  text-align: center;
}
p {
  border-left: solid #000;
  margin-left: 5px;
  padding: 5px;
}

footer {
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

footer ul {
  background-color: rgba(247, 193, 162, 0.7);
  padding: 0px;
  margin: 2px;
  display: inline-flex;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
footer ul li {
  padding-left: 20px;
  text-align: right;
}
